@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    padding: 12px 70px;
    width: 100%;
    background-color: rgb(32, 4, 57);
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 40px;
    width: 120px;
    background-image: url(images/aks.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav ul {
    gap: 20px;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/* HERO SECTION */
.hero {
    padding: 25px;
    margin: 60px auto;
    display: flex;
    gap: 50px;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.profile-pic {
    background-image: url(images/aks.jpeg);
    border-radius: 50%;
    background-size: cover;
    height: 300px;
    width: 300px;
}

.pic {
    text-align: center;
}

/* ================= MOBILE ================= */
@media (max-width: 768px) {

    body {
        background-color: #bdc6d8;
    }

    nav {
        flex-direction: column;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .hero {
        flex-direction: column;
        width: 95%;
        gap: 20px;
        text-align: center;
    }

    .profile-pic {
        width: 200px;
        height: 200px;
    }

    .btn {
        width: 140px;
        font-size: 14px;
        padding: 10px;
    }

    p {
        display: none;
    }

    .logo {
        width: 100px;
        height: 35px;
    }
}