

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}
header{
    /* background: linear-gradient(135deg, #0f0c29 0%, #24243e 100%); */
    backdrop-filter: blur(17px);
    
    border: 0.3px solid rgb(255, 255, 255);
    width: 85%;
    margin: auto;
    border-radius: 60px;

}

/* NAVBAR */
nav {
    display: flex;
    /* justify-content: space-between; */
    gap: 24%;
    padding: 12px 50px;
    width: 100%;
    /* background-color: rgb(32, 4, 57); */
    align-items: center;
    flex-wrap: wrap;
    /* margin-top: 29px; */
    /* position:static; */
    
}
#header {
        z-index: 999999;
        width: 100%;
        /* background-color: aliceblue; */
        position: fixed;
        top: 30px;
    }
.ba{
    display: flex;
    /* gap: 120px; */
    margin-top: 45px;
    flex-wrap: wrap;
     gap: 20%;
     
}
.be{
    width: 180%; 
    background-color: #00f2ff; 
    box-shadow: 0px 0px 180px #04d2dd;
    cursor: pointer;
    transition: all 0.1s ease;
} 
.be:hover
{
    transform: scale(1.1);
}
.bd
{
    width:160% ;
    background-color: #000000;
    color: whitesmoke;
    border: 0.2px solid ;
    cursor: pointer;
    transition: all 0.1s ease;
}
.bd:hover
{
    border: 1.6px solid #04d2dd;
    transform: scale(1.1);
}
.ba button
{
    /* width: 180%;   */
    
    height: 50px;
    border-radius: 14px;
    
    font-size: 15px;
    font-weight: 600;
    
}
.ka
{
    color: #30F5FF;
}
.bc button
{
    background: #00f2ff;
    width: 99px; 
    height: 35px;
    border-radius: 12px;
    font-weight: 600;
    border: none;
    
}

.logo {
    color: white;
    height: 40px;
    padding-top: 8px;
    font-size: 18px;
    width: 150px;
    background-image: url(images/aks.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.name{
   font-size: 65px;
    font-weight: 800; 
    font-family: sans-serif;
    background-image: linear-gradient(266deg, 
        rgba(73, 246, 255, 1) 0%, 
        rgba(48, 245, 255, 1) 11%, 
        rgba(69, 246, 255, 1) 61%, 
        rgba(212, 253, 255, 1) 100%
    ) !important;
     -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color: transparent !important;
    

}

h2{
font-size: 65px;
 font-family: Montserrat;

}

nav ul {
    gap: 20px;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}
nav ul li a:hover
{
    color: #00f2ff;
}
.btn{
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, #0f0c29 0%, #24243e 100%);
    padding: 10px;
    width: 130px;
    border: none;
    margin-top:30px;
    cursor: pointer;
    border-radius: 12px;
    
}


.hero {
    padding: 150px 45px;
    margin: 80px auto; 
    display: flex;
    gap: 150px;
    width: 85%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  
}

foter{
   display: block;
   background-color: #091929;
   margin-top: 10%;
   

   
}
body{
    background-color: #050505;
    color: white;
}
.contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
  
    color: aliceblue;
    padding: 15px;
   
    
}
.bottom
{
    text-align: center;
    background-color: #24243e;
    color: aliceblue;
}


.profile-pic {
    background-image: url(images/me.png);
    /* border-radius: 20%; */
    background-size: cover;
    height: 300px;
    width: 350px;
     object-fit:contain;
     /* box-shadow: 0px 5px 150px #04282a;  */
    transition: all 0.5s ease;
}




/* ================= MOBILE ================= */
@media (max-width: 768px) {

    body {
      
    }

    nav {
        flex-direction: column;
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        text-align: center;
    }

    .hero {
        flex-direction: column;
        width: 95%;
        gap: 20px;
        text-align: center;
    }

    .pi{
        
        order: 1;
    }
    .bio{
        order: 2;
    }
    
    .profile-pic {
        width: 200px;
        height: 200px;
    }

    .btn {
        width: 140px;
        
        padding: 10px;
        border-color: none;
    }

    /* p {
        display: none;
    } */

    
}